#loader {
    display: flex;
    width: 100%;
  }
  
  #loader.fill {
    height: 100%;
  }
  
  #loader img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
  }

  /* CARD STYLES*/
  
  .app-card {
    border: 1px solid gray;
    margin: 10px 0;
    box-shadow: 0px 0px 7px -3px #000000;
  }

  .app-card .body {
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  
  .app-card .name {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
  }

  .app-card .city {
    font-size: 16px;
    text-transform: capitalize;
  }

  /* Multi Image Viewer */
  
  .app-card .image-viewer {
    position: relative;
    height: 250px;
  }

  .app-card .image-viewer img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  /* Multi Image Viewer Overlay Button */
  
  .app-card .overlay-btn {
    height: 250px;
    color: #00000073;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    bottom: 0px;
    background-color: #0000002c;
    position: absolute;
    background-repeat: no-repeat;
    border: 0;
  }

  .app-card .overlay-btn:hover {
    background-color: #0000005b;
    color: #ffffff;
  }
  
  .app-card .overlay-btn img {
    height: 20px;
    width: 10px;
  }
  
  .app-card #left-overlay {
    left: 0px;
    border-right: 1px solid #5a5a5a50;
  }
  
  .app-card #right-overlay {
    right: 0px;
    border-left: 1px solid #5a5a5a50;
  }
  
  #left img {
    transform: rotate(90deg);
    height: 20px;
    width: 10px;
  }
  
  #right img {
    transform: rotate(270deg);
    height: 20px;
    width: 10px;
  }

  /* Rating */

  .rating-img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  /* Pagination */

  .pagination .detail {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
  }