#loader {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  #loader.fill {
    height: 100%;
  }
  
  #loader img {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
  }

  /* CARD STYLES*/
  
  .card {
    border: 1px solid gray;
    margin: 10px 0;
    box-shadow: 0px 0px 7px -3px #000000;
  }

  .card:hover {
    box-shadow: 0px 0px 12px -3px #000000
  }

  .card .body {
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #5757584d;
  }
  
  .card .name {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
  }

  .card .city {
    font-size: 16px;
    text-transform: capitalize;
  }

  /* Image Viewer */
  
  .card .image-viewer {
    position: relative;
    height: 250px;
  }

  .card .image-viewer img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .modal-body .full-img {
    height: 80vh;
    width: 80vw;
    object-fit: contain;
  }

  #dialog-close {
    position: absolute;
    right: 15px;
    border-radius: 50%;
  }

  .image-viewer .overlay-bottom-box {
    color: #00000073;
    overflow: hidden;
    outline: none;
    bottom: 5px;
    background-color: transparent;
    position: absolute;
    background-repeat: no-repeat;
    border: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .overlay-bottom-box .img-count {
    border: 1px solid #00000030;
    padding: 1px 6px;
    border-radius: 6px;
    font-size: 11px;
    background-color: #e8e3dba1;
    font-weight: 700;
    color: #0000005e;
    cursor: default;
  }

  .card .overlay-btn {
    height: 250px;
    color: #00000073;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    bottom: 0px;
    background-color: #0000002c;
    position: absolute;
    background-repeat: no-repeat;
    border: 0;
  }

  .card .overlay-btn:hover {
    background-color: #00000036;
    color: #ffffff;
  }

  .card .overlay-btn:disabled {
    background-color: #00000036;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  .card .overlay-btn img {
    height: 20px;
    width: 10px;
  }
  
  .card #overlay-btn-left {
    left: -1px;
    border-right: 1px solid #5a5a5a50;
  }
  
  .card #overlay-btn-right {
    right: -1px;
    border-left: 1px solid #5a5a5a50;
  }
  
  #overlay-btn-left img {
    transform: rotate(90deg);
    height: 20px;
    width: 10px;
  }
  
  #overlay-btn-right img {
    transform: rotate(270deg);
    height: 20px;
    width: 10px;
  }

  /* Rating */

  .rating-img {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    cursor: pointer;
  }

  /* Pagination */

  .pagination {
    width: max-content;
  }
  
  .pagination .detail {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
  }