.App {
  background-color: #F7F1E9;
}

.app-btn {
  padding: 6px;
  background-color: #dcdfbd;
  color: rgb(75, 75, 77);
  border: 1px solid brown;
  border-radius: 3px;
  margin-left: 5px;
  font-family: monospace;
  position: relative;
}

.app-btn .badge {
  position: absolute;
  top: -13px;
  right: -14px;
  padding: 2px 7px;
  border-radius: 50%;
  background: #e1b0b0cc;
  color: #c32121;
  border: 1px solid #00000057;
  font-weight: 600;
}

.app-btn:disabled {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
}

.app-btn:disabled:hover {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
  cursor: not-allowed;
}

.app-btn:hover {
  background-color: #c0c2a4dc;
  cursor: pointer;
}

#app-logo {
  height: 24px;
  width: 138px;
  cursor: pointer;
}

.app-header {
  padding: 20px 25px;
  border-bottom: 1px solid #5757584d;
  display: flex;
}

.app-header.large {
  justify-content: space-between;
}

.app-header.medium {
  flex-direction: column;
  align-items: center;
}

.app-header.small {
  display: flex;
}

.app-header.medium .items:not(:last-child), .app-header.small .items:not(:last-child){
  margin-bottom: 15px;
}

.app-body {
  padding: 20px;
  height: calc(100vh - 106px);
  overflow-x: hidden;
  overflow-y: auto;
}

.app-body.medium {
  height: calc(100vh - 194px)
}

.search-box {
  width: max-content;
}

.search {
  width: 200px;
  margin-bottom: 0;
  padding: 6px;
}
