.App {
  background-color: #F7F1E9;
}

.App button {
  padding: 6px;
  background-color: #dcdfbd;
  color: rgb(75, 75, 77);
  border: 1px solid brown;
  border-radius: 3px;
  margin-left: 5px;
}

.App button:disabled {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
}

.App button:disabled:hover {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
}

.App button:hover {
  background-color: #c0c2a4dc;
  cursor: pointer;
}

#app-logo {
  height: 24px;
  width: 138px;
  cursor: pointer;
}

.App-header {
  padding: 20px 25px;
  display: flex;
  height: 25px;
  justify-content: space-between;
  border-bottom: 1px solid #5757584d;
}

.App-body {
  padding: 20px;
  height: calc(100vh - 106px);
  overflow-x: hidden;
  overflow-y: auto;
}

.search {
  width: 200px;
  margin-bottom: 0;
  padding: 6px;
}
