.App {
  background-color: #F7F1E9;
}

.app-btn {
  padding: 6px;
  background-color: #dcdfbd;
  color: rgb(75, 75, 77);
  border: 1px solid brown;
  border-radius: 3px;
  margin-left: 5px;
  font-family: monospace;
}

.app-btn:disabled {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
}

.app-btn:disabled:hover {
  background-color: #f8dfdf;
  color: rgb(202, 187, 187);
  cursor: not-allowed;
}

.app-btn:hover {
  background-color: #c0c2a4dc;
  cursor: pointer;
}

#app-logo {
  height: 24px;
  width: 138px;
  cursor: pointer;
}

.App-header {
  padding: 20px 25px;
  border-bottom: 1px solid #5757584d;
  display: flex;
}

.App-header.large {
  justify-content: space-between;
}

.App-header.medium {
  flex-direction: column;
  align-items: center;
}

.App-header.small {
  display: flex;
}

.App-header.medium .items:not(:last-child), .App-header.small .items:not(:last-child){
  margin-bottom: 15px;
}

.App-body {
  padding: 20px;
  height: calc(100vh - 106px);
  overflow-x: hidden;
  overflow-y: auto;
}

.search-box {
  width: max-content;
}

.search {
  width: 200px;
  margin-bottom: 0;
  padding: 6px;
}
