.modal-header {
    display: flex;
    justify-content: space-between;
}

.modal-header button {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.452);
}

.modal-body {
    text-align: center;
}

.modal-header h2 {
    margin: 0;
}